{% extends "templates/web.html" %}

{% block page_content %}

    <h1>{{ title |e }}</h1>

    <p><strong>Doctor</strong></p>
    {%  set doctor =  frappe.get_doc("Doctor", doc.doctor)  %}
    <p>{{doctor.first_name + " " + doctor.last_name + ", " + doctor.speciality}}</p>

    <p><strong>Contact</strong></p>
    <p>+91 {{doc.contact_number}}</p>

    <p><strong>Address</strong></p>
    <p>{{ doc.address }}</p>

    <p><strong>Open</strong></p>
    {%  set shifts =  frappe.get_list("Shift", filters={"clinic": doc.name}, fields=["start_time", "end_time"])  %}
    <ul>
        {%  for shift in shifts | reverse %}
            <li>
                {{  str(shift.start_time) }} - {{shift.end_time}}
            </li>
        {% endfor %}
    </ul>

    <a href=""# class="btn btn-info">Book Appointment</a>

{% endblock %}
